*{
	box-sizing: border-box;
}

.wrapper{
	width: 100%;
	display: flex;
}

body{
	margin: 0;
}

.main{
	width: 100%;
}

.spotlight{
	overflow: hidden;
	height: 0;
	background-color: green;
	// padding-top: 56.25%;
	height: calc(0.5625 * (100vw - 224px));
	width: 100%;
	max-height: 640px;
}
