*{
	box-sizing: border-box;
}

.wrapper{
	width: 100%;
	display: flex;
	align-items: stretch;
}

body{
	margin: 0;
	background-color: @body-bg;
}

.main{
	width: 100%;
	padding-left: @nav-width-desktop;
}

.spotlight{
	overflow: hidden;
	height: 0;
	height: calc(0.5625 * (100vw - 224px));
	width: 100%;
	max-height: 640px;
	display: flex;
	@media (max-width: 992px){
		height: auto;
		max-height: unset;
	}
	.spotlight-content{
		height: 100%;
		width: 100%;
		border-radius: 32px;
		background-color: blue;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
	}
	+ section{
		margin-top: 80px;
	}
}

.btn{
	display: inline-block;
	padding: 13px 24px;
	border-radius: 40px;
	text-decoration: none;
	text-transform: uppercase;
	font-family: @poppins;
	font-size: .777em;
	font-weight: 500;
	letter-spacing: 1px;
	line-height: 1;
	color: @white;
	background-color: @white;
	transition: all 0.2s ease;
	+ .btn{
		margin-left: 16px;
	}
	&:hover{
		opacity: 0.9;
		box-shadow: rgba(0,0,0,0.3) 1px 1px 8px;
	}
}
.btn-primary{
	color: @btn-primary-txt;
}
.btn-outline{
	background-color: rgba(216, 226, 237, 0.1);
	border: 2px solid @white;
}
.btn-dark{
	background-color: @body-bg;
	color: @white;
}

.badges-container{
	margin-top: 48px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.badge{
	.badge-img{
		background-color: rgba(50, 70, 91, 0.5);
		height: 96px;
		width: 96px;
		border-radius: 50%;
	}
	.badge-title{
		color: @secondary-dm;
		*{
			margin: 16px 0 0;
		}
	}
}

.ui-graphic{
	max-height: 900px;
	width: 100%;
	max-width: 100%;
	height: 100%;
	min-height: 300px;
	background-color: #333;
	video{
		max-width: 100%;
		width: 100%;
	}
}

.content-half{
	display: flex;
	justify-content: center;
	flex-direction: column;
}

table.comparison-chart{
	.chart-title{

	}
	tr.feature{

	}
}

.chat-ui{
	position: relative;
}
.chat{
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	right: -40px;
	top: 40px;
	// transform: translateY(100%);
	&.animate{
		animation: moveUp 15s;
		// animation-delay: 3s;
		// animation-iteration-count: 5;
		animation-fill-mode: forwards;
		.chat-item{
			opacity: 1;
			&:nth-child(1){
				transition-delay: 0.3s;
			}
			&:nth-child(2){
				transition-delay: 3.3s;
			}
			&:nth-child(3){
				transition-delay: 6.3s;
			}
			&:nth-child(4){
				transition-delay: 9.3s;
			}
			&:nth-child(5){
				transition-delay: 12.3s;
			}
		}
	}
	@keyframes moveUp{
		0%{
			transform: translateY(100%);
		}
		4%{
			transform: translateY(80%);
		}
		20%{
			transform: translateY(80%);
		}
		24%{
			transform: translateY(60%);
		}
		40%{
			transform: translateY(60%);
		}
		44%{
			transform: translateY(40%);
		}
		60%{
			transform: translateY(40%);
		}
		64%{
			transform: translateY(20%);
		}
		80%{
			transform: translateY(20%);
		}
		84%{
			transform: translateY(0%);
		}
		100%{
			transform: translateY(0%);
		}
	}
}

.chat-item{
	margin-top: 16px;
	padding: 12px 32px 12px 12px;
	background-image: linear-gradient(135deg, rgba(45, 54, 73, 0.8), rgba(28, 33, 45, 0.8));
	border: 1px solid rgba(58, 70, 91, 0.3);
	border-radius: 16px;
	border-bottom-right-radius: 4px;
	display: flex;
	align-items: flex-start;
	max-width: 240px;
	backdrop-filter: blur(10px);
	transition: opacity 0.2s ease;
	opacity: 0;
	&.my-chat{
		border-bottom-right-radius: 16px;
		border-bottom-left-radius: 4px;
		background-image: linear-gradient(135deg, rgba(0, 206, 184, 0.8), rgba(28, 33, 45, 0.8));
	}
}
.chat-img{
	width: 24px;
	height: 24px;
}
.chat-content{
	margin-left: 8px;
}
.chat-user{
	font-family: @inter;
	font-weight: 600;
	font-size: 0.777rem;
}
.chat-message{
	font-family: @inter;
	font-size: 0.777rem;
	margin-top: 2px;
}
