*{
	box-sizing: border-box;
}

.wrapper{
	width: 100%;
	display: flex;
	align-items: stretch;
}

html{
	background-color: @body-bg;
}
body{
	margin: 0;
	background-color: @body-bg;
	background-image: linear-gradient(to bottom, #17263A, #040C17);
	min-height: 100vh;
	&.lock-scroll{
		overflow: hidden;
	}
}

.flex-center{
	display: flex;
	align-items: center;
}
.inline-flex{
	display: inline-flex !important;
}

.main{
	width: 100%;
	overflow: hidden;
	@media (min-width: @width-s){
		padding-left: 85px;
	}
	@media (min-width: @width-l){
		padding-left: @nav-width-desktop;
	}
	@media (max-width: 767px){
		padding-top: 56px;
	}
	&.sticky-nav{
		.first-container{
			padding-top: 213px;
		}
	}
}
img{
	max-width: 100%;
}

.mobile-only{
	@media (min-width: @width-s){
		display: none !important;
	}
}
.web-only{
	@media (max-width: 767px){
		display: none !important;
	}
}
.container > .spotlight{
	padding: 0;
	.spotlight-content{
		padding-left: 48px;
		padding-right: 48px;
	}
}
.spotlight{
	height: 0;
	height: calc(0.4444 * (100vw - 224px));
	width: 100%;
	max-height: 640px;
	display: flex;
	padding-left: 24px;
	padding-right: 24px;
	position: relative;
	border-radius: 32px;
	&.cta-spotlight{
		height: calc(0.25 * (100vw - 224px));
		min-height: 320px;
	}
	h2,h3,h6,h5{
		margin: 0;
	}
	h2{
		margin-bottom: 8px;
	}
	@media (max-width: 1200px){
		height: auto;
		max-height: unset;
	}
	@media (min-width: 1400px){
		// height: calc(0.3 * (100vw - 224px));
	}
	.spotlight-bg{
		object-fit: cover;
		object-position: center center;
		position: absolute;
		width: 100%;
		height: 100%;
		top:0;
		left:0;
		border-radius: 32px;
		overflow: hidden;
	}
	&.spotlight-football{
		.spotlight-content{
			padding-top: 40px;
			background-image: url('/assets/old/background/football-hero.png');
			@media (max-width: 991px){
				background-size: 200%;
				background-position: center bottom;
			}
		}
	}
	&.spotlight-nba{
		.spotlight-content{
			padding-top: 40px;
			background-image: url('/assets/old/background/nba-hero.jpg');
			@media (max-width: 991px){
				background-size: 160%;
				background-position: center bottom;
			}
		}
	}
	&.spotlight-lcs{
		.spotlight-content{
			padding-top: 40px;
			background-image: url('/assets/old/background/lcs-hero.jpg');
			@media (max-width: 991px){
				background-size: 110%;
				background-position: center bottom;
			}
		}
	}
	&.spotlight-bm{
		.spotlight-content{
			padding-top: 40px;
			background-image: url('/assets/old/background/bm-hero.jpg');
			@media (max-width: 991px){
				background-size: 160%;
				background-position: center bottom;
			}
		}
	}
	.spotlight-content{
		height: 100%;
		width: 100%;
		border-radius: 32px;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center bottom;
		padding-top: 80px;
		padding-bottom: 80px;
		position: relative;
		overflow:hidden;
		h3{
			margin-bottom: 24px;
		}
		.row{
			align-items: center;
		}
	}
	.floating-item{
		position: absolute;
		z-index: 99;
		right: 10%;
		bottom: 0%;
		@media (min-width: 992px){
			right: 35%;
			transform: scale(0.9);
		}
		@media (min-width: 1400px){
			right: 40%;
			transform:scale(1.1);
		}
	}
	+ section{
		margin-top: 80px;
	}
}
.interactive-ui{
	padding-top: 40px;
	position: relative;

	@media (min-width: 992px){
		padding-top: 0px;
		padding-left: 40px;
		.mobile-ui{
			height: 240px;
			width: 128px;
			bottom: -60px;
		}
		.web-ui{
			width: 540px;
			height: 300px;
		}
	}
	@media(min-width: 1200px){
		padding-top: 60px;
		.mobile-ui{
			height: 300px;
			width: 160px;
		}
		.web-ui{
			width: 600px;
			height: 400px;
		}
	}
	@media (min-width: 1600px){
		padding-top: 160px;
		margin-left: 80px;
	}
}
.web-ui{
	height: 300px;
	width: 600px;
	background: linear-gradient(to bottom right, #00CEB8, rgba(28, 33, 45, 0.5), #6E7DF5);
	border-radius: 16px;
	padding: 2px;
	position: relative;
	display: flex;
	margin: 0 auto;
	&.basketball{
		background: linear-gradient(to bottom right, #FF5C00, rgba(28, 33, 45, 0.5), #FFAE58)
	}
	&.lcs{
		background: linear-gradient(to bottom right, @lavender, rgba(28, 33, 45, 0.5), @purple)
	}
	.web-bar{
		position: absolute;
		top: 2px;
		width: calc(100% - 4px);
		height: 32px;
		z-index: 99;
		padding-left:4px;
		&:before{
			content: '';
			background-color: rgba(25,29,41,1);
			border-top-left-radius: 16px;
			border-top-right-radius: 16px;
			position: absolute;
			height: 100%;
			width: 100%;
			top: 0;
			left: 0;
			z-index: -1;
			animation: fadeInOut 12s;
			animation-iteration-count: infinite;
		}
		.close, .min, .open{
			height: 12px; width: 12px;
			display:inline-block;
			margin-left: 6px;
			margin-top: 8px;
			background-color: white;
			border-radius: 50%;
		}
		.close{
			background-color: #FF2B6D;
		}
		.min{
			background-color: #FFAE58;
		}
		.open{
			background-color: #45E7A7;
		}
	}
	.ui-content{
		align-items: stretch;
		width: 100%;
		// background-color: white;
		border-radius: 16px;
		overflow: hidden;
		display: flex;
		flex-flow: row nowrap;
		img{
			width: 100%;
			object-fit: cover;
			object-position: top left;
			top: 2px;
			left: 2px;
			flex: none;
			&:nth-child(2){
				margin-left: -100%;
			}
			&:first-of-type{
				animation: fadeInOut 12s;
				animation-iteration-count: infinite;
			}
		}
		.browser-ui{
			padding-top: 32px;
		}
	}
	@keyframes fadeInOut{
		0%{
			opacity: 100%;
		}
		44%{
			opacity: 100%
		}
		50%{
			opacity: 0%;
		}
		96%{
			opacity: 0;
		}
		100%{
			opacity: 100%;
		}
	}
}
.interactive-ui.no-animate{
	.web-ui{
		.ui-content img:first-of-type{
			animation: none;
		}
		.web-bar:before{
			display: none;
		}
	}
}
.mobile-ui{
	height: 220px;
	width: 120px;
	// background-color: #a0a0a0;
	border-radius: 16px;
	background: linear-gradient(to bottom right, #00CEB8, rgba(28, 33, 45, 0.5), #6E7DF5);
	padding: 2px;
	position: absolute;
	display: flex;
	bottom: -40px;
	left: 80px;
	&.basketball{
		background: linear-gradient(to bottom right, #FF5C00, rgba(28, 33, 45, 0.5), #FFAE58)
	}
	&.lcs{
		background: linear-gradient(to bottom right, @lavender, rgba(28, 33, 45, 0.5), @purple)
	}
	.ui-content{
		align-items: stretch;
		width: 100%;
		// background-color: @white;
		border-radius: 16px;
		overflow: hidden;
		backdrop-filter: blur(10px);
		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: top center;
		}
	}
}
.btn{
	display: inline-block;
	padding: 18px 24px;
	border-radius: 40px;
	text-decoration: none;
	text-transform: uppercase;
	font-family: @poppins;
	font-size: .875em;
	font-weight: 600;
	letter-spacing: 1px;
	line-height: 1;
	color: @white;
	background-color: @white;
	transition: all 0.2s ease;
	+ .btn{
		margin-left: 16px;
	}
	&:hover{
		opacity: 0.9;
		box-shadow: rgba(0,0,0,0.3) 1px 1px 8px;
	}
	&.tag{
		padding: 12px 16px;
		&:hover{
			opacity: 1;
			box-shadow: none;
		}
		+ .tag{
			margin-left: 8px;
		}
	}
}
.btn-primary{
	color: @btn-primary-txt;
	// border: 2px solid transparent;
}
.btn-outline{
	background-color: rgba(216, 226, 237, 0.1);
	border: 2px solid @white;
}
.btn-dark{
	background-color: #202635;
	color: @mint;
	border: 1px solid rgba(124,139,164,0.3);
}
.btn-mint{
	color: @btn-primary-txt;
	background-image: linear-gradient(135deg, #4CE2A7, #00B7B3);
}
.btn-orange{
	background-image: linear-gradient(135deg, #FFAE58, #FF6F42);
}
.btn-red{
	background-image: linear-gradient(135deg, #FFAA7F, #FF3A6E);
}
.btn-success{
	color: @btn-primary-txt;
	background-image: linear-gradient(135deg, #4CE2B8, #07C5FF);
}
.btn-round{
	display: inline-flex;
	height: 32px;
	width: 32px;
	align-items: center;
	justify-content: center;
	background-color: transparent;
	border: 3px solid rgba(96,111,140,0.7);
	padding: 0;
	img{
		height: 16px;
		width: 16px;
	}
	&:hover{
		border: 3px solid @white;
	}
}
.feature-title{
	padding-left: 96px;
	position: relative;
	height: 80px;
	display: flex;
	align-items: center;
	+ ul{
		margin-bottom: 48px;
	}
	&:before{
		content: '';
		height: 80px;
		width: 80px;
		position: absolute;
		left: 0;
		background-color: rgba(50, 70, 91, 0.5);
		border-radius: 50%;
		background-image: url('/assets/old/icon/football_sprites.png');
		background-repeat: no-repeat;
		// background-size: 100%;
	}
	&.feature-football-ads:before{background-position:0px 0px}
	&.feature-football-scoring:before{background-position:-80px 0px}
	&.feature-football-research:before{background-position:-160px 0px}
	&.feature-football-commish:before{background-position:0px -80px}
	&.feature-football-team:before{background-position:-80px -80px}
	&.feature-football-timer:before{background-position:-160px -80px}
	@media (max-width: 767px){
		padding-left: 88px;
		&:before{
			height: 64px;
			width: 64px;
			background-size: 192px;
		}
		&.feature-football-ads:before{background-position:0px 0px}
		&.feature-football-scoring:before{background-position:-64px 0px}
		&.feature-football-research:before{background-position:-128px 0px}
		&.feature-football-commish:before{background-position:0px -64px}
		&.feature-football-team:before{background-position:-64px -64px}
		&.feature-football-timer:before{background-position:-128px -64px}
	}
}
.badges-container{
	margin-top: 48px;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
}
.badge{
	margin: 16px;

	.badge-img{
		background-color: rgba(50, 70, 91, 0.5);
		height: 96px;
		width: 96px;
		border-radius: 50%;
		background-image: url('/assets/old/icon/Sprites96x96.png');
		background-repeat: no-repeat;
		&.badge-ff-chat{background-position:0px 0px}
		&.badge-ff-long{background-position:-96px 0px}
		&.badge-ff-popular{background-position:-192px 0px}
		&.badge-ff-fun{background-position:-288px 0px}
		&.badge-fb-chat{background-position:0px -96px}
		&.badge-fb-strategy{background-position:-96px -96px}
		&.badge-fb-popular{background-position:-192px -96px}
		&.badge-fb-fun{background-position:-288px -96px}
		&.badge-lcs-chat{background-position:0px -192px}
		&.badge-lcs-strategy{background-position:-96px -192px}
		&.badge-lcs-popular{background-position:-192px -192px}
		&.badge-lcs-fun{background-position:-288px -192px}
		&.badge-bm-season{background-position:0px -288px}
	}
	.badge-title{
		color: @secondary-dm;
		*{
			margin: 16px 0 0;
		}
	}
}

.ui-graphic{
	max-height: 900px;
	width: 100%;
	max-width: 100%;
	height: 100%;
	min-height: 300px;
	video{
		max-width: 100%;
		width: 100%;
	}
}

.content-half{
	display: flex;
	justify-content: center;
	flex-direction: column;
}

table.comparison-chart{
	border-collapse: collapse;
	th{
		font-size: 0.85rem;
		padding-top: 16px;
		padding-bottom: 8px;
		font-family: @poppins;
		font-weight: 600;
		text-transform: uppercase;
		letter-spacing: 1px;
		border-top-left-radius: 16px;
		border-top-right-radius: 16px;
		&:nth-child(2){
			background-color: #131E2C;
		}
	}
	.chart-title{

	}
	tr.feature{
		min-height: 70px;
		&:nth-of-type(2n){
			background-image: linear-gradient(to right, rgba(163,187,211,0), rgba(163,187,211,0.05) 10%);
			td:nth-child(2){
				background-color: #192533;
			}
		}
		td{
			height: 70px;
			padding:16px;
			border: 2px solid #29303E;
			font-family: @inter;
			*{
				vertical-align: middle;
			}
			&:not(.title){
				text-align: center;
				font-size: 0.888em;
			}
			&:nth-child(2){
				background-color: #131E2C;
				width: 180px;
				@media (min-width: @width-m){
					width: 280px;
				}
			}
			&:nth-child(3){
				color: #7988a1;
				width: 180px;
				@media (min-width: @width-m){
					width: 280px;
				}
			}
		}
		&:first-child td{
			border-top: 0;
		}
		td:first-child{
			border-left: 0;
		}
		&:last-child td{
			// border-bottom: 0;
		}
		td:last-child{
			// border-right: 0;
		}
	}
}

.chat-ui{
	position: relative;
}
.chat{
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	right: 4%;
	top: 10%;
	@media(max-width: 1599px){
		right: -1%;
	}
	@media(max-width: 1399px){
		right: -12%;
		transform: scale(0.8);
		top: 0%;
	}
	@media (max-width: 991px){
		right: 10%;
		top: 10%;
	}
	@media (max-width: 767px){
		right: 2%;
	}
	// transform: translateY(100%);
	&.animate{
		animation: moveUp 15s;
		animation-delay: 1s;
		// animation-iteration-count: 5;
		animation-fill-mode: forwards;
		// animation-timing-function: ease-out;
		.chat-item{
			opacity: 1;
			&:nth-child(1){
				transition-delay: 1.3s;
			}
			&:nth-child(2){
				transition-delay: 4.3s;
			}
			&:nth-child(3){
				transition-delay: 7.3s;
			}
			&:nth-child(4){
				transition-delay: 10.3s;
			}
			&:nth-child(5){
				transition-delay: 13.3s;
			}
		}
	}
	@keyframes moveUp{
		0%{
			transform: translateY(80%);
		}
		4%{
			transform: translateY(64%);
		}
		20%{
			transform: translateY(64%);
		}
		24%{
			transform: translateY(48%);
		}
		40%{
			transform: translateY(48%);
		}
		44%{
			transform: translateY(32%);
		}
		60%{
			transform: translateY(32%);
		}
		64%{
			transform: translateY(16%);
		}
		80%{
			transform: translateY(16%);
		}
		84%{
			transform: translateY(0%);
		}
		100%{
			transform: translateY(0%);
		}
	}
}

.chat-item{
	margin-top: 16px;
	padding: 12px 32px 12px 12px;
	background-image: linear-gradient(135deg, rgba(45, 54, 73, 0.8), rgba(28, 33, 45, 0.8));
	border: 1px solid rgba(58, 70, 91, 0.3);
	border-radius: 16px;
	border-bottom-right-radius: 4px;
	display: flex;
	align-items: flex-start;
	max-width: 240px;
	backdrop-filter: blur(10px);
	transition: opacity 0.2s ease;
	opacity: 0;
	&.my-chat{
		border-bottom-right-radius: 16px;
		border-bottom-left-radius: 4px;
		background-image: linear-gradient(135deg, rgba(0, 206, 184, 0.6), rgba(28, 33, 45, 0.8));
	}
}
.chat-img{
	width: 24px;
	height: 24px;
}
.chat-content{
	margin-left: 8px;
}
.chat-user{
	font-family: @inter;
	font-weight: 600;
	font-size: 0.777rem;
}
.chat-message{
	font-family: @inter;
	font-size: 0.777rem;
	margin-top: 2px;
}

.testimonial{
	display: flex;
	align-items: center;
	border-radius: 32px;
	border: 1px solid rgba(255,255,255,0.1);
	background-color: rgba(58,70,91,0.5);
	padding: 32px;
	padding-left: 56px;
	position: relative;
	margin: 16px 24px 0;
	max-width: 80% !important;
	&:first-of-type{
		margin-left: 40px;
	}
	@media (min-width: @width-s){
		min-width: 411px !important;
	}
	.testimonial-image{
		border-radius: 50%;
		height: 68px;
		width: 68px;
		border: 1px solid rgba(255,255,255,0.3);
		background-color: #7988A1;
		position: absolute;
		top: -16px;
		left: -24px;
	}
	.testimonial-quote{
		color: @secondary-dm;
		font-family: @poppins;
		line-height: 1.5;
		font-weight: 500;
	}
	.testimonial-user{
		font-weight: 500;
		color: @light-dm;
		font-size: 0.75em;
	}
}

.footer{
	// border-top: 1px solid #677897;
	padding-top: 16px;
	.footer-main{
		border-bottom: 1px solid #677897;
		padding-bottom: 64px;
	}
	.footer-secondary{
		display: flex;
		justify-content: space-between;
		padding: 48px 0;
		font-size: 0.777em;
		color: @secondary-dm;
		@media (max-width: 991px){
			flex-direction: column;
			justify-content: flex-start;
			align-items: center;
			padding: 24px 0;
			> div{
				margin-bottom: 24px;
			}
		}
		a{
			color: @secondary-dm;
			text-decoration: none;
			line-height: 1.4;
			display: flex;
			align-items: center;
			img{
				margin-right: 8px;
			}
		}
	}
	.socials{
		margin: 16px 0;
		display: flex;
		justify-content: flex-start;
		a{
			margin-right: 16px;
		}
	}
	.footer-title{
		margin-bottom: 42px;
		font-size: 0.888em;
		color: @secondary-dm;
		font-family: @poppins;
		font-weight: 400;
		text-transform: uppercase;
		@media (max-width: 992px){
			margin-bottom: 12px;
			margin-top: 40px;
		}
	}
	.nav-item{
		margin-bottom: 24px;
		a{
			font-size: 0.888em;
			color: #fff;
			text-decoration: none;
		}
	}
}

.game-link{
	display: flex;
	align-items: center;
	background-color: #2D3649;
	overflow: hidden;
	border-radius: 24px;
	transition: opacity 0.1s ease;
	@media (max-width: 1199px){
		border-radius: 16px;
	}
	&:hover{
		opacity: 0.7;
	}
	.game-icon{
		width: 100px;
		height: 100px;
		overflow: hidden;
		img{
			object-fit: cover;
			object-position: center center;
			height: 100%;
			width: 100%;
		}
	}
	.game-name{
		padding: 8px 24px;
		color: @white;
		margin: 0;
	}
	@media (max-width: 1199px){
		.game-icon{
			border-radius: 16px;
		}
	}

	@media (max-width: 991px){
		width: 160px;
		background-color: transparent;
		flex-direction: column;
		.game-icon{
			border-radius: 16px;
			width: 160px;
			height: 160px;
		}
		.game-name{
			padding: 16px 0;
			text-align: center;
		}
	}
}

.game-grid{
	display: inline-block;
	&.featured{
		display: block;
		border-radius: 16px;
		overflow: hidden;
		background-color: #152238;
		border: 1px solid #485770;
		.header{
			position: relative;
			padding-bottom: 60%;
			height: 0;
			.bg{
				position: absolute;
				width: 100%;
				height: 100%;
				img{
					object-position: center center;
					object-fit: cover;
					background-size: cover;
					height: 100%;
					width: 100%;
					position: absolute;
				}
			}
			.header-ct{
				display: flex;
				justify-content: space-between;
				align-items: center;
				position: absolute;
				width: 100%;
				bottom: 0;
				padding: 16px 16px 8px;
			}
			.game-title{
				> *, > a > *{
					margin: 0;
					color: #fff;
				}
				> a:hover{
					text-decoration: underline;
				}
			}
			.badge{
				margin: 0;
				img{
					height: 112px;
					width: 112px;
					@media (max-width: @width-l){
						height: 100%;
						width: 100%;
						max-width: 80px;
						max-height: 80px;
					}
				}
			}
		}
		.game-ct{
			padding: 16px;
			display: flex;
			flex-wrap: wrap;
			.players-ct{
				width: 40%;
				margin-bottom: 16px;
			}
			.game-secondary{
				width: 60%;
				margin-bottom: 16px;
			}
			.game-description{
				width: 100%;
			}
		}
		.game-footer{
			padding: 12px 16px;
			background-color: #233046;
			display: flex;
			justify-content: space-between;
			align-items: center;
			height: 49px;
			.label{
				margin-bottom: 0;
				color: #D8E2ED;
			}
			.footer-primary{
				.label{
					color: #D8E2ED;
					letter-spacing: 1px;
					img{
						margin-right: 4px;
					}
				}
			}
		}
		.label{
			font-family: @poppins;
			font-weight: 500;
			font-size: 0.75em;
			text-transform: uppercase;
			color: #606F8C;
			margin-bottom: 2px;
		}
		.value{
			font-family: @poppins;
			font-weight: 700;
			font-size: 1em;
			&.flex-center img{
				margin-right: 4px;
			}
			img{
				height: 16px;
				width: 16px;
			}
			&.list{
				font-size: 0.875em;
				ul{
					list-style-type: none;
					margin: 0;
					padding: 0;
					white-space: nowrap;
					li{
						margin: 0;
						padding: 0;
						display: inline;
						&:not(:last-of-type){
							padding-right: 8px;
							&:after{
								content: "•";
								margin-left: 8px;
							}
						}
					}
				}
			}
		}
		.avatars{
			.avatar{
				display: inline-block;
				vertical-align: top;
				height: 24px;
				width: 24px;
				border-radius: 12px;
				border: 3px solid #233046;
				background-color: #eee;
				margin-left: -3px;
				&:not(:first-of-type){
					margin-left: -9px;
				}
			}
		}
	}
	.game-icon{
		overflow: hidden;
		max-width: 88px;
		max-height: 88px;
		margin: 0 auto;
		&:hover{
			opacity: 0.7;
		}
		img{
			object-fit: cover;
		}
	}
	.game-name{
		color: #fff;
		text-align: center;
		font-family: @inter;
		font-weight: 500;
		margin-top: 16px;
		letter-spacing: -0.5px;
	}
}

.news-item{
	@media (max-width: 991px){
		margin-bottom: 48px;
	}
	.thumbnail{
		position: relative;
		height: 0;
		padding-top: 56.25%;
		border-radius: 24px;
		overflow: hidden;
		@media (max-width: 1199px){
			border-radius: 16px;
		}
		&:hover{
			img{
				transform: scale(1.02);
				opacity: 0.8;
			}
		}
		img{
			position: absolute;
			height: 100%;
			width: 100%;
			top: 0;
			left: 0;
			object-fit: cover;
			transition: all 0.2s ease;
		}
	}
	h5{
		color: @white;
		margin-top: 16px;
		margin-bottom: 0;
		&:hover{
			color: @mint;
		}
	}
	.desc{
		margin-top: 8px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		-webkit-line-clamp: 2;
		color: @white;
	}
	&.video-thumbnail{
		img{
			opacity: 0.7;
		}
		h5{
			&:hover{
				color: @white;
			}
		}
		.thumbnail {
			cursor: pointer;
			.play-btn{
				position: absolute;
				height: 72px;
				width: 72px;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				background-image: linear-gradient(135deg, #A3BBD3, #3A465B);
				border-radius: 50%;
				z-index: 1;
				&:before{
					content: '';
					height: 100%;
					width: 100%;
					position: absolute;
					display: block;
					top: 0;
					left: 0;
					background-image: url('/assets/old/icon/play-icon.png');
					background-position: center center;
					background-repeat: no-repeat;
					background-size: 30%;
					z-index: -1;
				}
			}
		}
	}
}
.video-item{
	border-radius: 16px;
	border: 1px solid #48566F;
	overflow: hidden;
	.thumbnail{
		height: 0;
		padding-bottom: 56.4%;
		position: relative;
		cursor: pointer;
		.play-btn{
			position: absolute;
			height: 80px;
			width: 80px;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			background-color: rgba(255,255,255,0.2);
			border: 1px solid rgba(163,187,211,0.3);
			border-radius: 50%;
			z-index: 1;
			transition: all 0.2s ease;
			&:before{
				content: '';
				height: 100%;
				width: 100%;
				position: absolute;
				display: block;
				top: 0;
				left: 0;
				background-image: url('/assets/old/icon/play-icon.png');
				background-position: center center;
				background-repeat: no-repeat;
				background-size: 30%;
				z-index: -1;
			}
		}
		img{
			position: absolute;
			object-fit: cover;
			height: 100%;
			width: 100%;
			transition: all 0.3s ease;
		}
		&:hover{
			.play-btn{
				opacity: 0.3;
			}
			img{
				transform: scale(1.04);
			}
		}

	}
	// &:hover{
	// 	.thumbnail{
	// 		.play-btn{
	// 			opacity: 0.3;
	// 		}
	// 		img{
	// 			transform: scale(1.04);
	// 		}
	// 	}
	// }
	.vid-content{
		padding: 16px;
		.subtitle{
			font-size: 0.75em;
			color: #606F8C;
			margin-bottom: 2px;
			font-weight: 600;
		}
		h5{
			font-weight: 700;
			margin: 0;
			cursor: pointer;
			&:hover{
				text-decoration: underline;
			}
		}
	}
}

.banner-tk{
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center right;
	border-radius: 16px;
	overflow: hidden;
	padding: 40px;
	border: 1px solid #48566F;
	@media (min-width: @width-s) and (max-width: 1023px){
		background-size: cover;
		background-position: center left;
		.col-3{
			flex: 0 0 33.3%;
			max-width: 33.3%;
		}
	}
	@media (max-width: 767px){
		padding-top: 64px;
		background-position: top right;
		background-size: cover;
	}
	h1{
		margin: 0;
		font-weight: 700;
	}
	h5{
		margin-top: 8px;
		margin-bottom: 12px;
		color: @secondary-dm;
	}
	.title{
		@media (min-width: @width-s){
			display: flex;
			align-items: center;
		}
		margin-bottom: 16px;
	}
	.btn{
		padding: 12px 24px;
		margin-top: 16px;
		@media (min-width: @width-s){
			margin-left: 24px;
			margin-top: 0px;
			padding: 22px 40px;
		}
	}
}

.banner{
	border-radius: 24px;
	padding: 80px;
	position: relative;
	overflow: hidden;
	@media (max-width: 1200px){
		padding: 40px;
	}
	@media (min-width: 1200px){
		.banner-content{
			padding-right: 64px;
		}
	}
	&:before{
		content: '';
		position: absolute;
		width: 50%;
		height: 100%;
		top: 0;
		right: 0;
		display: block;
		border-top-right-radius: 24px;
		border-bottom-right-radius: 24px;
		background-position: bottom center;
		background-size: contain;
		background-repeat: no-repeat;
		@media(min-width: 1200px){
			width: 65%;
			right: -10%;
		}
	}
	&.lcs-banner{
		background-image: linear-gradient(45deg, rgba(4,106,224,0.6), rgba(110,125,245,0.6));
		background-color: @white;
		&:before{
			background-image: url('/assets/old/background/fantasy-lcs-banner.png');
		}
	}
	.banner-content{
		h3{
			color: @dark;
			margin-bottom: 24px;
		}
	}
	@media (max-width: 991px){
		.banner-content{
			padding: 16px 16px 24px;
			background-color: #2D3649;
			text-align: center;
			h3{
				color: @white;
				margin-top: 0;
			}
			.btn{
				background-color: @white;
				color: @btn-primary-txt;
			}
		}
		padding: 56.25% 0 0;
		&:before{
			width: 100%;
			background-position: top center;
		}
	}
}

.tutorial-video{
	height: 100vh;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 99;
	opacity: 0;
	transition: all 0.2s ease;
	pointer-events: none;
	&.active{
		opacity: 1;
		pointer-events: all;
	}
}
.video-bg{
	background: rgba(7, 14, 29, 0.8);
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: -1;
}
.video-wrapper{
		width: 70vw;
		.player-wrapper{
			padding-bottom: 56.25%;
			position: relative;
			height: 0;
		}
		iframe{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
// 	z-index: 99;
// 	background: rgba(7, 14, 29, 0.8);
}

.slideshow{
	height: 0;
	width: 100%;
	padding-top: 40%;
	border-radius: 24px;
	overflow: hidden;
	position: relative;
	background-color: #333;
	&.lock{
		pointer-events: none;
		.prev, .next{
			pointer-events: none;
			cursor: default;
		}
	}
	.prev, .next{
		height: 64px;
		width: 64px;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 32px;
		display: block;
		z-index: 9;
		cursor: pointer;
		background-image: url('/assets/old/icon/carat_left.png');
		background-repeat: no-repeat;
		background-size: cover;
		&:hover{
			opacity: 0.7;
		}
	}
	.next{
		background-image: url('/assets/old/icon/carat_right.png');
		left: auto;
		right: 32px;
	}
	.pagination{
		display: flex;
		position: absolute;
		bottom: 24px;
		left: 50%;
		transform: translateX(-50%);
		z-index: 97;
		> div{
			height: 12px;
			width: 12px;
			background-color: rgba(216,226,237,0.5);
			border-radius: 8px;
			&:not(:first-of-type){
				margin-left: 16px;
			}
			&.active{
				background-color: @white;
				width: 32px;
			}
		}
	}
	.slideshow-content{
		top: 0;
		left: 0;
		position: absolute;
		height: 100%;
		width: 100%;
		// max-width: 3408px;
		transform: translateX(0px);
		&:not(.no-anim){
			transition: transform 0.4s ease;
		}
		.slide{
			// position: absolute;
			height: 100%;
			width: 100%;
			background-color: white;
			float: left;
			display: block;
			position: relative;
			.title{
				letter-spacing: 0;
				span{
					@media (max-width: 767px){
						display: block;
						font-size: 0.5625em;
						margin-top: 4px;
					}
				}
			}
			&.slide-2{
				background-color: #222;
			}
			&.slide-3{
				background-color: #111;
			}
			img{
				object-fit: cover;
				object-position: center center;
				height: 100%;
				width: 100%;
			}
		}
	}
	&.poseidon{
		background-color: transparent;
		padding-top: 25%;
		margin-top: 16px;
		position: relative;
		.mobile-bg{
			display:none;
			object-position: center bottom;
		}
		@media (max-width: 1479px){
			padding-top: 40%;
			.slideshow-content .slide img.web-bg{
				object-fit: cover;
				object-position: center left;
			}
		}
		@media (max-width: 1023px){
			padding-top: 55%;
			.slideshow-content .slide img.mobile-bg{
				display: block;
			}
			.slideshow-content .slide img.web-bg{
				display: none;
			}
		}
		@media (max-width: 767px){
			margin-top: 0;
			border-radius: 0px;
			height: 50vh;
			min-height: 480px;
			padding: 0;
			padding-top: 80px;
			&:after{
				content: '';
				position: absolute;
				width: 100%;
				height: 100px;
				background-image: linear-gradient(to bottom, transparent, #131f31 80%);
				bottom: 0;
				left: 0;
				pointer-events: none;
			}
			.btn-mint{
				color: @white;
				border: 2px solid @mint;
				background-image: linear-gradient(135deg, rgba(230,239,250,0.15), rgba(163,187,211,0.15));
				background-color: transparent;
			}
			.btn-orange{
				color: @white;
				border: 2px solid @orange;
				background-image: linear-gradient(135deg, rgba(230,239,250,0.15), rgba(163,187,211,0.15));
				background-color: transparent;
			}
			.btn-red{
				color: @white;
				border: 2px solid @red;
				background-image: linear-gradient(135deg, rgba(230,239,250,0.15), rgba(163,187,211,0.15));
				background-color: transparent;
			}
			.btn-success{
				color: @white;
				border: 2px solid @mint;
				background-image: linear-gradient(135deg, rgba(230,239,250,0.15), rgba(163,187,211,0.15));
				background-color: transparent;
			}
		}
		.pagination{
			left: 40px;
			transform: none;
			bottom: 48px;
			> div{
				height: 12px;
				width: 32px;
				background-color: rgba(216,226,237,0.5);
				border-radius: 6px;
				&:not(:first-of-type){
					margin-left: 8px;
				}
				&.active{
					background-color: @white;
					width: 69px;
				}
			}
			@media (max-width: 767px){
				left: 50%;
				transform: translateX(-50%);
				display: flex;
				align-items: center;
				> div{
					height: 8px;
					width: 8px;
					border-radius: 8px;
					&.active{
						height: 16px;
						width: 16px;
					}
				}
			}
		}
		.slide{
			position: relative;
			overflow:hidden;
			border-radius: 24px;
			@media (max-width: 767px){
				border-radius: 0px;
			}
			&, &.slide-2, &.slide-3{
				background-color: transparent;
			}
			img.web-bg{
				object-position: top center !important;
			}
		}
		.content{
			position: absolute;
			left: 0;
			width: 100%;
			color: #fff;
			padding: 6% 40px 0;
			top: 0;
			@media (max-width: 1479px){
				padding-top: 12%;
			}
			@media (max-width: 767px){
				padding-top: 160px;
			}
			.game-badge{
				img{
					border-radius: 8px;
					height: 48px;
					width: auto;
					float: left;
					margin-right: 8px;
					margin-top: 4px;
					@media (max-width: 767px){
						border-radius: 2px;
						height: 16px;
					}
				}
			}
			h1{
				margin: 0 0 4px;
			}
			.subtitle{
				font-family: @poppins;
				font-weight: 600;
				line-height: 1.5;
			}
			.description{
				margin-bottom: 16px;
			}
		}
	}
	&.hermes{
		background-color: #17263e;
		padding-top: 34.54%;
		margin-top: 48px;
		border: 1px solid #495872;
		.slideshow-content{
			z-index: 8;
		}
		.pagination{
			left: 40px;
			transform: none;
			bottom: 48px;
			> div{
				height: 12px;
				width: 32px;
				background-color: rgba(216,226,237,0.5);
				border-radius: 6px;
				&:not(:first-of-type){
					margin-left: 8px;
				}
				&.active{
					background-color: @white;
					width: 69px;
				}
			}
			@media (max-width: 767px){
				> div{
					height: 8px;
					width: 8px;
					&.active{
						height: 16px;
						width: 16px;
						border-radius: 50%;
					}
					&:not(.active){
						margin-top: 4px;
					}
				}
			}
		}
		.slide{
			position: absolute;
			height: 100%;
			width: 100%;
			top: 0;
			left: 0;
			display: flex;
			align-items: center;
			float: none;
			pointer-events: none;
			&, &.slide-2, &.slide-3{
				background-color: transparent;
			}
			&.active{
				pointer-events: all;
				h1, .description{
					opacity: 1;
					transform: translateY(0px);
				}
				h1{
					transition-delay: 0.5s;
				}
				.description{
					transition-delay: 0.9s;
				}
			}
		}
		.content{
			width: 50%;
			color: #fff;
			padding: 0 40px;
			.game-badge{
				img{
					border-radius: 8px;
					height: 48px;
					width: auto;
					float: left;
					margin-right: 8px;
					margin-top: 4px;
				}
			}
			h1{
				font-weight: 700;
				margin: 0 0 8px;
				opacity: 0;
				transform: translateY(8px);
				transition: all 0.3s ease-out;
			}
			.subtitle{
				font-family: @poppins;
				font-weight: 600;
				line-height: 1.5;
			}
			.description{
				font-family: @inter;
				font-size: 0.875em;
				color: @secondary-dm;
				margin-bottom: 16px;
				opacity: 0;
				transform: translateY(8px);
				transition: all 0.3s ease-out;
				line-height: 1.5;
			}
		}
		.slideshow-video{
			position: absolute;
			z-index: 7;
			// width: 100%;
			max-width: 60%;
			bottom: 0;
			right: 0;
			video{
				width: 100%;
				float: right;
			}
		}
		@media (max-width: 964px){
			padding-top: 60%;
			.content{
				width: 60%;
			}
		}
		@media (max-width: 767px){
			padding-top: 100%;
			.pagination{
				top: 40px;
				left: 16px;
			}
			.slide{
				height: 50%;
				width: 100%;
				display: block;
				padding-top: 80px;
			}
			.content{
				width: 100%;
				padding: 0 16px;
			}
			.slideshow-video{
				max-width: unset;
				width: 120%;
				left: 50%;
				transform: translateX(-50%);
				right: auto;
			}
		}
		@media (max-width: 640px){
			padding-top: 140%;
			.slideshow-video{
				width: 140%;
			}
		}
		@media (max-width: 414px){
			.slide{
				padding-top: 60px;
			}
		}
	} //end .hermes
}
.preview-slideshow{
	border: 1px solid rgba(96,111,140,0.7);
	border-radius: 16px;
	overflow: hidden;
	padding: 24px;
	height: 100%;
	position: relative;
	background-image: linear-gradient(290deg, rgba(90, 105, 155, 0.07), transparent, rgba(210, 0, 101, 0.1));
 	h6.title{
		color: #606F8C;
		margin: 0;
	}
	.pagination{
		display: flex;
		position: absolute;
		bottom: 24px;
		left: 50%;
		transform: translateX(-50%);
		z-index: 97;
		align-items: center;
		> div{
			height: 8px;
			width: 8px;
			background-color: rgba(216,226,237,0.5);
			border-radius: 8px;
			&:not(:first-of-type){
				margin-left: 8px;
			}
			&.active{
				background-color: @white;
				height: 16px;
				width: 16px;
			}
		}
	}
	.p-slide{
		position: absolute;
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		opacity: 0;
		transform: translateY(8px);
		transition: all 0.3s ease-out;
		.content{
			display: flex;
			position: relative;
			height: 100%;
			width: 100%;
			align-items: center;
			justify-content: center;
			padding: 48px;
			img{
				max-height: 100%;
			}
		}
		&.active{
			pointer-events: all;
			opacity: 1;
			transform: translateY(0px);
			transition-delay: 0.4s;
		}
	}
}
&.tag{
	&:before{
		content: '';
		height: 80px;
		width: 80px;
		display: block;
		background-size: cover;
		background-repeat: no-repeat;
		bottom: 0;
		right: 0;
		position: absolute;
		z-index: 9
	}
}

&.tag-fb:before{
	background-image: url('/assets/old/icon/tag-fb.png')
}
&.tag-bm:before{
	background-image: url('/assets/old/icon/tag-bm.png')
}
&.tag-lcs:before{
	background-image: url('/assets/old/icon/tag-lcs.png')
}

.league-badge{
	@media (max-width: 767px){
		margin-top: 32px;
	}
}
.draft-header{
	margin-top: 4px;
	margin-bottom: 14px;
}
.draft-badge{
	margin-right: 8px;
	height: 54px;
	width: 54px;
}
.draft-group{
	.col{
		display: flex;
		// align-items: center;
	}
	h4{
		margin: 0;
	}
	p{
		font-size: 0.75em;
		line-height: 1.25;
		margin: 0;
		color: #A3BBD3;
	}
}

.card-promo{
	padding: 24px 24px 48px;
	position: relative;
	border-radius: 16px;
	overflow: hidden;
	border: 1px solid rgba(96,111,140,0.7);
	.card-bg{
		position: absolute;
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
		object-position: bottom right;
	}
	.card-title{
		font-weight: 700;
	}
	h6{
		margin-bottom: 0;
	}
	.card-content{
		position: relative;
		z-index: 1;
		width: 60%;
	}
}

.league-preview{
	// padding: 24px;
	border: 1px solid rgba(96,111,140,0.7);
	border-radius: 16px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	height: 100%;
	.preview-ct{
		padding: 24px 24px 40px;
		flex-grow: 2;
		.badge{
			height: 92px;
			width: 92px;
			float: left;
			margin: 0;
			margin-right: 8px;
		}
		h6{
			color: #606F8C;
			margin: 0;
		}
		h5{
			margin: 4px 0 8px;
			font-weight: 700;
		}
		.tag-ct{
			// display: flex;
		}
		.league-tag{
			background-color: #1A2439;
			display: inline-flex;
			align-items: center;
			height: 24px;
			border-radius: 12px;
			font-size: 0.75em;
			font-weight: 600;
			padding: 0 12px;
			border: 1px solid rgba(96,111,140,0.1);
			margin: 4px 2px;
			&.tag-live{
				color: @red;
				text-transform: uppercase;
			}
			img{
				max-height: 16px;
				margin-right: 4px;
			}
			+ .league-tag{
				// margin-left: 8px;
			}
		}
	}
	.preview-secondary{
		background-color: #1A2439;
		padding: 24px;
		display: flex;
		align-items: center;
		.user-data{
			font-size: 0.75em;
			font-weight: 600;
			color: #606F8C;
			flex-grow: 2;
			span{
				color: @light-dm;
			}
		}
	}
	.avatars{
		margin-right: 16px;
		.avatar{
			display: inline-block;
			vertical-align: top;
			height: 32px;
			width: 32px;
			border-radius: 16px;
			border: 3px solid #1A2439;
			background-color: #eee;
			margin-left: -3px;
			&:not(:first-of-type){
				margin-left: -9px;
			}
		}
	}

	&.preview-dfs{
		position: relative;
		.preview-ct{
			position: relative;
			z-index: 1;
			.title-ct{
				display: flex;
				align-items: flex-start;
			}
			.badge{
				height: 40px;
				width: 40px;
				float: none;
			}
			.title{

			}
			.tag-ct{
				margin-left: 8px;
				margin-top: 4px;
			}
			.league-tag{
				&.tag-live{
					color: @white;
					background-color: @red;
				}
			}
		}
		.preview-game{
			display: flex;
			justify-content: space-between;
			.team{
				.team-name{
					margin-bottom: 4px;
					span{
						font-family: @inter;
						font-size: 10px;
						color: #A3BBD3;
						margin: 0 4px;
					}
				}
				&.team-left{

				}
				&.team-right{
					text-align: right;
					.player{
						flex-direction: row-reverse;
					}
					.player-photo{
						margin-left: 0px;
						margin-right: 8px;
					}
				}
				.player-name{
					font-size: 0.75em;
					font-weight: 600;
					margin-bottom: 2px;
				}
				.player-data{
					font-family: @inter;
					font-size: 0.625em;
					color: #A3BBD3;
					font-weight: 400;
				}
				.player-photo{
					margin-left: 8px;
					height: 32px;
					width: 32px;
				}
			}
			.player{
				display: flex;
				align-items: center;
			}
			.game-type{
				align-self: center;
				text-align: center;
				font-size: 0.6em;
				line-height: 1.33;
				text-transform: uppercase;
				color: #9FA3A7;
				font-weight: 700;
				span{
					display: block;
				}
				img{
					height: 24px;
					width: 24px;
				}
			}
		}
		.preview-secondary{
			position: relative;
			z-index: 1;
		}
		&:before{
			content: '';
			position: absolute;
			height: 100%;
			width: 100%;
			display: block;
			background-image: linear-gradient(290deg, transparent 60%, rgba(130, 0, 255, 0.3));
			z-index: 0;
		}
		&.home-nyk{
			background-image: linear-gradient(70deg, transparent 60%, rgba(0, 150, 255, 0.3));
		}
		&.away-lal{
			&:before{
				background-image: linear-gradient(290deg, transparent 60%, rgba(130, 0, 255, 0.3));
			}
		}
	}
}
