.nav{
	background-color: #eee;
	width: 224px;
	min-width: 224px;
	height: 100%;
	min-height: 100vh;
	display: block;
	flex-grow: 10;
}

.main-nav{
	display: block;
	height: 100%;

	.nav-item{
		padding: 18px 24px;
		display: block;
		text-decoration: none;
		color: black;
	}
}
