@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,900;1,400;1,500;1,700&family=Inter:wght@300;400&display=swap');

@poppins: "Poppins", Helvetica, Arial, sans-serif;
@inter: "Inter", Helvetica, Arial, sans-serif;


body{
	font-family: @poppins;
	color: @white;
	font-size: 18px;
	-webkit-font-smoothing: antialiased;
}

p{
	font-family: @inter;
	color: @light-dm;
	line-height: 1.777;
	font-weight: 400;
}

a{

}

h1{
	font-family: @poppins;
	font-weight: 600;
	font-size: 3.111rem;
	letter-spacing: -1px;
	margin-bottom: 1.2rem;
	line-height: 1.14;
}
h2{
	font-family: @poppins;
	font-weight: 600;
	letter-spacing: -1px;
	font-size: 2.667rem;
	line-height: 1.5;
}
h3{
	font-family: @poppins;
	font-weight: 600;
	font-size: 2.222rem;
	letter-spacing: -1px;
	line-height: 1.5;
}
h4{
	font-family: @poppins;
	font-weight: 500;
	font-size: 1.778rem;
	letter-spacing: -0.5px;
	line-height: 1.5;
}
h5{
	font-family: @poppins;
	font-weight: 500;
	line-height: 1.5;
	font-size: 1.6rem;
	letter-spacing: -0.5px;
}
h6{
	font-family: @poppins;
	font-size: 1rem;
	font-weight: 500;
	+ h1, + h2{
		margin-top: 0;
	}
}

.txt-center{
	text-align: center;
}
.txt-secondary{
	color: @secondary-dm !important;
}
